.App {
  display: flex;

  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .below-nav {
      display: flex;
      height: 100%;
    }
    .center-content {
      justify-content: center;
    }

    .route-wrapper {
      padding: 60px;
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }
  }
}
