@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap');

/* variables */
:root {
  --heading-color: #444;
  --text-color: #999;
  --primary-color: #0353a4;
  --lighter-color: #2081e2;
  --darker-color: #023e7d;
  --nice-gray: #dbdee2;
  --lighter-gray: #eff2f5;
  --highlight-color: #70e000;
  --bg-color: #f6f7f9;
  --input-color: #f9f9fad4;
}

/*#f2f4f7 
--bg-color: #f4f4f4;

*/

/* base styles */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 0.8em;
  background: var(--bg-color);
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

/* layout */
.page-title {
  font-size: 1.2em;
  color: var(--heading-color);
  display: inline-block;
}
.btn {
  background: var(--primary-color);
  padding: 8px 12px;
  border-radius: 0.6em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid var(--primary-color);
  width: fit-content;
  height: fit-content;
  transition: 0.1s;
}

.filter-btn {
  background: white;
  color: var(--heading-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 1em;
  width: fit-content;
  height: fit-content;
  transition: 0.1s;
  padding: 4px 4px 4px 12px;
  font-weight: 600;
  border: 1px solid var(--nice-gray);
}

.btn:hover {
  filter: brightness(1.1);
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}
label span {
  display: block;
  margin-bottom: 6px;
}
input,
textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
textarea {
  min-height: 160px;
}
.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
  height: fit-content;
  width: 100%;
}

.gray {
  background: var(--nice-gray);
  color: var(--heading-color);
}

.gray img {
  filter: invert(22%) sepia(0%) saturate(0%) hue-rotate(151deg) brightness(104%) contrast(85%);
}

.blue {
  background: #e2f2ff;
  color: #0058aa;
}

.blue img {
  filter: invert(13%) sepia(100%) saturate(5422%) hue-rotate(199deg) brightness(79%) contrast(102%);
}

.green {
  background: #e1ffe9;
  color: #007c25;
}

.green img {
  filter: invert(25%) sepia(72%) saturate(2001%) hue-rotate(123deg) brightness(79%) contrast(103%);
}

.red {
  background: #ffe5e5;
  color: #aa0000;
}

.red img {
  filter: invert(8%) sepia(95%) saturate(7393%) hue-rotate(12deg) brightness(71%) contrast(111%);
}
